.header-page {
  font-weight: bold;
  color: #ffffff;

  background-color: $menu-bg;

  min-width: 320px;

  display: flex;
  flex-direction: column;

  position: relative;
}

.header-page__logo {
  margin-left: 20px;
  margin-top: 22px;
  margin-bottom: 25px;
  margin-right: auto;
}
