.information {
  color: $font-color;
  text-align: center;

  min-width: 320px;

  background-color: #ffffff;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 35px;
}

.information__intro-wrapper {
  font-size: 24px;
  font-weight: lighter;

  width: 210px;
}

.information__list {
  list-style: none;

  background-color: #f2f2f2;

  margin: 0;
  margin-top: 55px;
  padding: 0;

  min-width: 320px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.information__title {
  margin: 0;
  padding: 0;
  padding-top: 30px;

  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 1px;
}

.information__description {
  margin: 0;
  padding: 0;
  padding-top: 13px;

  font-size: 14px;
  line-height: 24px;

  width: 265px;
}

.information__wrapper {
  background-color: #f2f2f2;

  min-width: 320px;

  display: flex;
  flex-direction: column;
}

.information__img {
  margin-left: auto;
  margin-right: auto;
}

.information__img--invisible {
  display: none;
}

.information__static {
  display: none;
}

@media(min-width: $tablet-width) {
  .information {
    min-width: 660px;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .information__intro-wrapper {
    min-width: 660px;

    margin-left: auto;
    margin-right: auto;
  }

  .information__wrapper {
    min-width: 660px;

    flex-direction: row-reverse;
    flex-wrap: wrap;
  }

  .information__static {
    display: flex;

    padding: 58px 20px;
  }

  .information__static-wrapper {
    padding-left: 70px;
  }
}

@media (min-width:$desktop-width) {
  .information {
    width: 1200px;

    margin-left: auto;
    margin-right: auto;
  }

  .information__img--invisible {
    display: block;
  }

  .information__wrapper {
    flex-direction: column-reverse;
  }

  .information__img-wrapper {
    display: flex;
  }

  .information__list {
    flex-direction: row;
  }
}
