.main-page {
  margin: 0;
  padding: 0;
  padding-top: 108px;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center -67px;
  background-repeat: no-repeat;
  background-color: $menu-bg;

  font-size: 14px;
  line-height: 30px;
  color: #000000;

  min-width: 320px;

  display: flex;
  flex-direction: column;
}

.main-page__example {
  margin-right: auto;
}

.main-page__app-wrapper {
  display: flex;
  flex-direction: column;

  min-width: 320px;

  margin-left: auto;
  margin-right: auto;
  padding-bottom: 17px;
}

 @media (min-width: $tablet-width) {
   .main-page {
     min-width: 660px;
   }

   .main-page__app-wrapper {
     display: flex;
     flex-direction: row-reverse;
   }
   .main-page__example {
     margin: 0;
     margin-right: auto;
   }
 }

 @media (min-width: $desktop-width) {
   .main-page {
     min-width: 1200px;
   }
 }
