.photo-editor__tools-list {
  list-style: none;
}

.photo-editor__button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width:$tablet-width) {
  .photo-editor {
    width: 660px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .photo-editor__tools-list {
    width: 275px;
  }
}

@media (min-width:$desktop-width) {
  .photo-editor__button-wrapper {
    flex-direction: row;
  }
}
