.prise {
  background-color: #f2f2f2;

  margin-left: auto;
  margin-right: auto;
  padding-top: 63px;
  padding-bottom: 32px;

  border-collapse: collapse;

  display: flex;
  flex-direction: column;
}

.prise__wrapper {
  display: flex;
  //хз с этими таблицами
  flex-wrap: wrap;

  width: 320px;

  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;

  position: relative;
}

.prise__table {
  width: 276px;

  flex-shrink: 0;

//  position: absolute;

  margin-left: auto;
  margin-right: auto;

  border: 2px solid $border-color;
  border-collapse: collapse;
}

.prise__table--one {
//  left: -260px;
}

.prise__table--three {
//  right: -260px;
}

.prise__table--active {
  margin-left: auto;
  margin-right: auto;

  position: static;
}

.prise__head {
  border: 2px solid $border-color;
  border-bottom: none;

  background-color: #283645;
  color: #ffffff;

  width: 278px;

  padding-top: 17px;
  padding-bottom: 21px;

  position: relative;
}

.prise__header {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.prise__cost {
  margin: 0;
  padding: 0;

  font-size: 24px;
  line-height: 30px;
  font-weight: lighter;
}

.prise__list {
  border-bottom: 2px solid $border-color;
}

.prise__item {
  background-color: #ffffff;
}

.prise__name {
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  font-weight: normal;
  text-transform: uppercase;

  display: block;

  padding-top: 16px;
  padding-left: 24px;
  padding-bottom: 13px;
}

.prise__head--hit::after {
  content: "ХИТ";
  transform: rotate(-45deg);

  width: 73px;
  height: 73px;

  position: absolute;
  left: 1px;
  top: 7px;
}

.prise__head--hit::before {
  content: "";

  width: 73px;
  height: 73px;

  background-image: url(../img/bg-hit.svg);

  position: absolute;
  left: -1px;
  top: 0;
}

.prise__toggles-wrapper {
  display: flex;
}

.prise__toggles {
  margin-left: auto;
  margin-right: auto;
}

.prise__hidden {
  display: none;
}

@media (min-width: $tablet-width) {
  .prise {
    margin: 0;
  }

  .prise__wrapper {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    width: 660px;
  }

  .prise__name--mobile {
    display: none;
  }

  .prise__hidden {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .prise__toggles-wrapper {
    display: none;
  }
}
