.prise {
  background-color: #f2f2f2;

  margin-left: auto;
  margin-right: auto;

  border-collapse: collapse;

  display: flex;
  flex-direction: column;


}

.prise__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 320px;

  margin-left: auto;
  margin-right: auto;
}

.prise__head {
  border: 1px solid black;

}

.prise__list {
  border: 1px solid black;
}

.prise__toggles-wrapper {
  display: flex;
}

.prise__toggles {
  margin-left: auto;
  margin-right: auto;
}

.prise__hidden {
  display: none;
}

@media (min-width: $tablet-width) {
  .prise {
    margin: 0;
  }

  .prise__wrapper {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    width: 660px;
  }

  .prise__name--mobile {
    display: none;
  }

  .prise__hidden {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .prise__toggles-wrapper {
    display: none;
  }
}
